---
import Layout from "../layouts/Layout.astro"
---

<Layout
	title="Education"
	description="Learn about diabetes and prediabetes from the most reliable source: the Center for Disease Control and Prevention. We provide a list of their most crucial facts about the diseases."
>
	<section>
		<header class="mainSectionHead">
			<h1>DIABETES 101</h1>
			<p>
				Learn about the basics of diabetes from the most reliable
				source:<br /><a
					href="https://www.cdc.gov/diabetes/index.html"
					target="_blank"
					class="bold1">Centers for Disease Control and Prevention</a
				>
			</p>
			<hr />
		</header>
		<h2>What is Diabetes?</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/classroom.jpg"
					alt="Empty lecture room."
				/>
				<div class="info">
					<li>
						Diabetes is a chronic (long-lasting) health condition
						that affects how your body turns food into energy.
					</li>
					<li>
						Food is broken down into sugar and released into the
						bloodstream.
					</li>
					<li>
						When blood sugar goes up, it signals the pancreas to
						release insulin.
					</li>
					<li>
						Insulin acts like a key to let the blood sugar into your
						body’s cells for use as energy.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/meeting.jpg"
					alt="Woman participating in an online meeting."
				/>
				<div class="info">
					<li>
						If you have diabetes, your body either doesn’t make
						enough insulin or can’t use the insulin it makes as well
						as it should.
					</li>
					<li>
						When there isn’t enough insulin, too much blood sugar
						stays in your bloodstream.
					</li>
					<li>
						Over time, that can cause serious health problems, such
						as heart disease, vision loss, and kidney disease.
					</li>
					<li>
						There isn’t a cure yet for type 2 diabetes, but losing
						weight, eating healthy food, being active and taking
						medication if needed, can be really helpful.
					</li>
					<li>
						Type 1 diabetes has no cure, and can’t be prevented.
						Insulin must be used everyday.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<!-- Show/Hide button and plus/minus sign -->
			<hr />
		</div>
		<h2>Risk Factors</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/family.jpg"
					alt="A smiling family."
				/>
				<div class="info">
					<li>
						Risk factors for type 1 diabetes are not as clear as for
						prediabetes and type 2 diabetes. Known risk factors
						include:
					</li>
					<ul class="secondaryList">
						<li>
							Family history: Having a parent, brother, or sister
							with type 1 diabetes.
						</li>
						<li>
							Age: You can get type 1 diabetes at any age, but
							it’s more likely to develop when you’re a child,
							teen, or young adult.
						</li>
						<li>
							Race/ethnicity: In the United States, whites are
							more likely to develop type 1 diabetes than African
							Americans and Hispanic/Latino Americans.
						</li>
					</ul>
					<li>
						Currently, no one knows how to prevent type 1 diabetes.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/familyTwo.jpg"
					alt="A smiling family with the grandfather in focus."
				/>
				<div class="info">
					<li>
						You’re at risk for developing type 2 diabetes if you:
					</li>
					<ul class="secondaryList">
						<li>Have prediabetes</li>
						<li>Are overweight</li>
						<li>Are 45 years or older</li>
						<li>
							Have a parent, brother, or sister with type 2
							diabetes
						</li>
						<li>Are physically active less than 3 times a week</li>
						<li>
							Have ever had gestational diabetes (diabetes during
							pregnancy) or given birth to a baby who weighed more
							than 9 pounds
						</li>
						<li>
							Are African American, Hispanic/Latino American,
							American Indian, or Alaska Native (some Pacific
							Islanders and Asian Americans are also at higher
							risk)
						</li>
					</ul>
					<li>
						If you have non-alcoholic fatty liver disease you may
						also be at risk for type 2 diabetes.
					</li>
					<li>
						You can prevent or delay type 2 diabetes with simple,
						proven lifestyle changes such as losing weight if you’re
						overweight, eating healthier, and getting regular
						physical activity.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/overweight.jpg"
					alt="Overweight man measuring his belly."
				/>
				<div class="info">
					<li>You’re at risk for developing prediabetes if you:</li>
					<ul class="secondaryList">
						<li>Are overweight</li>
						<li>Are 45 years or older</li>
						<li>
							Have a parent, brother, or sister with type 2
							diabetes
						</li>
						<li>Are physically active less than 3 times a week</li>
						<li>
							Have ever had gestational diabetes (diabetes during
							pregnancy) or given birth to a baby who weighed more
							than 9 pounds
						</li>
						<li>
							Are African American, Hispanic/Latino American,
							American Indian, or Alaska Native (some Pacific
							Islanders and Asian Americans are also at higher
							risk)
						</li>
					</ul>
					<li>
						You can prevent or reverse prediabetes with simple,
						proven lifestyle changes such as losing weight if you’re
						overweight, eating healthier, and getting regular
						physical activity.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/pregnant.jpg"
					alt="Pregnant woman holding her belly."
				/>
				<div class="info">
					<li>
						You’re at risk for developing gestational diabetes
						(diabetes while pregnant) if you:
					</li>
					<ul class="secondaryList">
						<li>
							Had gestational diabetes during a previous pregnancy
						</li>
						<li>
							Have given birth to a baby who weighed more than 9
							pounds
						</li>
						<li>Are overweight</li>
						<li>Are more than 25 years old</li>
						<li>Have a family history of type 2 diabetes</li>
						<li>
							Have a hormone disorder called polycystic ovary
							syndrome (PCOS)
						</li>
						<li>
							Are African American, Hispanic/Latino American,
							American Indian, Alaska Native, Native Hawaiian, or
							Pacific Islander
						</li>
					</ul>
					<li>
						Gestational diabetes usually goes away after your baby
						is born but increases your risk for type 2 diabetes
						later in life. Your baby is more likely to have obesity
						as a child or teen, and is more likely to develop type 2
						diabetes later in life too.
					</li>
					<li>
						Before you get pregnant, you may be able to prevent
						gestational diabetes by losing weight if you’re
						overweight, eating healthier, and getting regular
						physical activity.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Symptoms</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/thirsty.jpg"
					alt="Woman drinking water from a glass."
				/>
				<div class="info">
					<li>
						If you have any of the following diabetes symptoms, see
						your doctor about getting your blood sugar tested:
					</li>
					<ul class="secondaryList">
						<li>Urinate (pee) a lot, often at night</li>
						<li>Are very thirsty</li>
						<li>Lose weight without trying</li>
						<li>Are very hungry</li>
						<li>Have blurry vision</li>
						<li>Have numb or tingling hands or feet</li>
						<li>Feel very tired</li>
						<li>Have very dry skin</li>
						<li>Have sores that heal slowly</li>
						<li>Have more infections than usual</li>
					</ul>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/pain.jpg"
					alt="Pregnant woman holding her belly in pain."
				/>
				<div class="info">
					<li>
						People who have type 1 diabetes may also have nausea,
						vomiting, or stomach pains. Type 1 diabetes symptoms can
						develop in just a few weeks or months and can be severe.
						Type 1 diabetes usually starts when you’re a child,
						teen, or young adult but can happen at any age.
					</li>
					<li>
						Type 2 diabetes symptoms often take several years to
						develop. Some people don’t notice any symptoms at all.
						Type 2 diabetes usually starts when you’re an adult,
						though more and more children and teens are developing
						it.
					</li>
					<li>
						Gestational diabetes (diabetes during pregnancy) usually
						doesn’t have any symptoms. If you’re pregnant, your
						doctor should test you for gestational diabetes between
						24 and 28 weeks of pregnancy.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Prediabetes</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/trafficLight.jpg"
					alt="Traffic light on yellow."
				/>
				<div class="info">
					<li>
						Prediabetes is a serious health condition where blood
						sugar levels are higher than normal, but not high enough
						yet to be diagnosed as type 2 diabetes.
					</li>
					<li>
						Approximately 88 million American adults—more than 1 in
						3—have prediabetes. Of those with prediabetes, more than
						84% don’t know they have it.
					</li>
					<li>
						Prediabetes puts you at increased risk of developing
						type 2 diabetes, heart disease, and stroke.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/insulin.jpg"
					alt="Diagram of insulin in the body."
				/>
				<div class="info">
					<li>
						If you have prediabetes, the cells in your body don’t
						respond normally to insulin. Your pancreas makes more
						insulin to try to get cells to respond.
					</li>
					<li>
						Eventually your pancreas can’t keep up, and your blood
						sugar rises, setting the stage for prediabetes—and type
						2 diabetes down the road.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/jogging.jpg"
					alt="Man jogging down the street."
				/>
				<div class="info">
					<li>
						If you have prediabetes, losing a small amount of weight
						if you’re overweight and getting regular physical
						activity can lower your risk for developing type 2
						diabetes.
					</li>
					<li>
						A small amount of weight loss means around 5% to 7% of
						your body weight, just 10 to 14 pounds for a 200-pound
						person. Regular physical activity means getting at least
						150 minutes a week of brisk walking or a similar
						activity. That’s just 30 minutes a day, five days a
						week.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Type 1 Diabetes</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/typeOne.jpg"
					alt="Dice-like cubes spelling 'DIABETES TYPE 1'."
				/>
				<div class="info">
					<li>
						If you have type 1 diabetes, your pancreas doesn’t make
						insulin or makes very little insulin.
					</li>
					<li>
						Type 1 diabetes (previously called insulin-dependent or
						juvenile diabetes) is usually diagnosed in children,
						teens, and young adults, but it can develop at any age.
					</li>
					<li>
						Type 1 diabetes is less common than type 2—approximately
						5-10% of people with diabetes have type 1.
					</li>
					<li>
						Currently, no one knows how to prevent type 1 diabetes,
						but it can be managed by following your doctor’s
						recommendations for living a healthy lifestyle, managing
						your blood sugar, getting regular health checkups, and
						getting diabetes self-management education and support.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/heritage.jpg"
					alt="Father talking to his son."
				/>
				<div class="info">
					<li>
						Type 1 diabetes is thought to be caused by an autoimmune
						reaction (the body attacks itself by mistake) that
						destroys the cells in the pancreas that make insulin.
					</li>
					<li>
						Some people have certain genes (traits passed on from
						parent to child) that make them more likely to develop
						type 1 diabetes, though many won’t go on to have type 1
						diabetes even if they have the genes.
					</li>
					<li>
						Being exposed to a trigger in the environment, such as a
						virus, is also thought to play a part in developing type
						1 diabetes. Diet and lifestyle habits don’t cause type 1
						diabetes.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/pen.jpg"
					alt="Woman holding an insulin pen against her stomach."
				/>
				<div class="info">
					<li>
						If you have type 1 diabetes, you’ll need to take insulin
						shots (or wear an insulin pump) every day to manage your
						blood sugar levels and get the energy your body needs.
					</li>
					<li>
						You’ll also need to check your blood sugar regularly.
						Ask your doctor how often you should check it and what
						your target blood sugar levels should be.
					</li>
					<li>
						Stress is a part of life, but it can make managing
						diabetes harder, including managing your blood sugar
						levels and dealing with daily diabetes care.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Type 2 Diabetes</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/typeTwo.jpg"
					alt="Dice-like cubes spelling 'DIABETES TYPE 2'."
				/>
				<div class="info">
					<li>
						If you have type 2 diabetes, cells don’t respond
						normally to insulin; this is called insulin resistance.
						Your pancreas makes more insulin to try to get cells to
						respond.
					</li>
					<li>
						Eventually your pancreas can’t keep up, and your blood
						sugar rises, setting the stage for prediabetes and type
						2 diabetes
					</li>
					<li>
						High blood sugar is damaging to the body and can cause
						other serious health problems, such as heart disease,
						vision loss, and kidney disease.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/couple.jpg"
					alt="Man and woman in close conversation."
				/>
				<div class="info">
					<li>
						More than 34 million Americans have diabetes (about 1 in
						10), and approximately 90-95% of them have type 2
						diabetes.
					</li>
					<li>
						Type 2 diabetes most often develops in people over age
						45, but more and more children, teens, and young adults
						are also developing it.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/educator.jpg"
					alt="Diabetes educator working with patient."
				/>
				<div class="info">
					<li>
						You may be able to manage your diabetes with healthy
						eating and being active, or your doctor may prescribe
						insulin, other injectable medications, or oral diabetes
						medicines to help manage your blood sugar and avoid
						complications.
					</li>
					<li>
						You’ll still need to eat healthy and be active if you
						take insulin or other medicines. It’s also important to
						keep your blood pressure and cholesterol close to the
						targets your doctor sets for you and get necessary
						screening tests.
					</li>
					<li>
						You’ll need to check your blood sugar regularly. Ask
						your doctor how often you should check it and what your
						target blood sugar levels should be.
					</li>
					<li>
						Whether you were just diagnosed with diabetes or have
						had it for some time, meeting with a diabetes educator
						is a great way to get support and guidance, including
						how to:
					</li>
					<ul class="secondaryList">
						<li>Develop a healthy eating and activity plan</li>
						<li>
							Test your blood sugar and keep a record of the
							results
						</li>
						<li>
							Recognize the signs of high or low blood sugar and
							what to do about it
						</li>
						<li>
							If needed, give yourself insulin by syringe, pen, or
							pump
						</li>
						<li>
							Monitor your feet, skin, and eyes to catch problems
							early
						</li>
						<li>Buy diabetes supplies and store them properly</li>
						<li>Manage stress and deal with daily diabetes care</li>
					</ul>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/child.jpg"
					alt="Girl looking down as a girl in background sneers at her."
				/>
				<div class="info">
					<li>
						Childhood obesity rates are rising, and so are the rates
						of type 2 diabetes in youth.
					</li>
					<li>
						More than 75% of children with type 2 diabetes have a
						close relative who has it, too. But it’s not always
						because family members are related; it can also be
						because they share certain habits that can increase
						their risk.
					</li>
					<li>
						Parents can help prevent or delay type 2 diabetes by
						developing a plan for the whole family:
					</li>
					<ul class="secondaryList">
						<li>Drinking more water and fewer sugary drinks</li>
						<li>Eating more fruits and vegetables</li>
						<li>Making favorite foods healthier</li>
						<li>Making physical activity more fun</li>
					</ul>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Gestational</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/pregnantTwo.jpg"
					alt="Woman smiling at her pregnant belly."
				/>
				<div class="info">
					<li>
						Gestational diabetes occurs when your body can’t make
						enough insulin during your pregnancy.
					</li>
					<li>
						During pregnancy, your body makes more hormones and goes
						through other changes, such as weight gain.
					</li>
					<li>
						These changes cause your body’s cells to use insulin
						less effectively.
					</li>
					<li>
						All pregnant women have some insulin resistance during
						late pregnancy. However, some women have insulin
						resistance even before they get pregnant.
					</li>
					<li>
						Naturally insulin resistant women start pregnancy with
						an increased need for insulin and are more likely to
						have gestational diabetes.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/listening.jpg"
					alt="Doctor holding a stethoscope against a pregnant stomach."
				/>
				<div class="info">
					<li>
						Having gestational diabetes can increase your risk of
						having a large baby that needs to be delivered by
						cesarean section (C-section).
					</li>
					<li>
						If you have gestational diabetes, your baby is at higher
						risk of:
					</li>
					<ul class="secondaryList">
						<li>
							Being very large (9 pounds or more), which can make
							delivery more difficult
						</li>
						<li>
							Being born early, which can cause breathing and
							other problems
						</li>
						<li>Having low blood sugar</li>
						<li>Developing type 2 diabetes later in life</li>
					</ul>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/hug.jpg"
					alt="Mother hugging her baby."
				/>
				<div class="info">
					<li>
						About 50% of women with gestational diabetes go on to
						develop type 2 diabetes.
					</li>
					<li>
						You can lower your risk by reaching a healthy body
						weight after delivery.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Diabetes Tests</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/test.jpg"
					alt="Pencil held above a multiple-choice test."
				/>
				<div class="info">
					<li>
						Testing is simple, and results are usually available
						quickly.
					</li>
					<li>
						You’ll need to get your blood sugar tested to find out
						for sure if you have prediabetes or type 1, type 2, or
						gestational diabetes.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/blood.jpg"
					alt="Blood sugar test."
				/>
				<div class="info">
					<li>
						Your doctor will have you take one or more of the
						following blood tests to confirm the diagnosis:
					</li>
					<li>
						<span class="bold1">A1C Test</span>: measures your
						average blood sugar level over the past 2 or 3 months.
					</li>
					<li>
						<span class="bold1">Fasting Blood Sugar Test</span>:
						measures your blood sugar after an overnight fast (not
						eating).
					</li>
					<li>
						<span class="bold1">Glucose Tolerance Test</span>:
						measures your blood sugar before and after you drink a
						liquid that contains glucose. You’ll fast (not eat)
						overnight before the test and have your blood drawn to
						determine your fasting blood sugar level. Then you’ll
						drink the liquid and have your blood sugar level checked
						1 hour, 2 hours, and possibly 3 hours afterward.
					</li>
					<li>
						<span class="bold1">Random Blood Sugar Test</span>:
						measures your blood sugar at the time you’re tested. You
						can take this test at any time and don’t need to fast
						(not eat) first.
					</li>
					<ul class="secondaryList">
						<li>
							If your doctor thinks you have type 1 diabetes, your
							blood may also tested for autoantibodies that are
							often present in type 1 diabetes.
						</li>
						<li>
							You may have your urine tested for ketones, which
							also indicate type 1 diabetes
						</li>
					</ul>
				</div>
			</article>

			<article>
				<img
					src="/diabetes-awareness-and-action/media/education/glucose.jpg"
					alt="Assortment of glucose drinks."
				/>
				<div class="info">
					<li>
						Gestational diabetes is diagnosed using blood tests.
					</li>
					<li>
						You’ll probably be tested between 24 and 28 weeks of
						pregnancy. If your risk is higher for getting
						gestational diabetes, your doctor may test you earlier.
					</li>
					<li>
						Blood sugar that’s higher than normal early in your
						pregnancy may indicate you have type 1 or type 2
						diabetes rather than gestational diabetes.
					</li>
					<br />
					<br />
					<li>
						<span class="bold1">Glucose Screening Test</span>:
						measures your blood sugar at the time you’re tested.
						You’ll drink a liquid that contains glucose, and then 1
						hour later your blood will be drawn to check your blood
						sugar level.
					</li>
					<li>
						<span class="bold1">Glucose Tolerance Test</span>: This
						measures your blood sugar before and after you drink a
						liquid that contains glucose. You’ll fast (not eat)
						overnight before the test and have your blood drawn to
						determine your fasting blood sugar level.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
	</section>
	<section>
		<header class="mainSectionHead">
			<h1>STOP THE PROGRESS</h1>
			<hr />
		</header>
		<main id="StopTheProgressBox">
			<div>
				<li>Prediabetes is serious!</li>
				<li>Blood sugar levels are starting to go up.</li>
				<li>
					out of 3 people have prediabetes, and 8 out of 10 don’t know
					it. Prediabetes often leads to type 2 diabetes.
				</li>
				<li>50% of seniors have prediabetes.</li>
				<li>
					If you have prediabetes, you can prevent or delay
					prediabetes from developing into type 2 diabetes with
					lifestyle changes that we talk about on our <a
						href="management.html"
						class="bold1">self-management page.</a
					>
				</li>
			</div>
			<div>
				<img
					src="/diabetes-awareness-and-action/media/education/prediabetes.svg"
				/>
			</div>
		</main>
	</section>
	<section>
		<header class="mainSectionHead">
			<h1>COMPLICATIONS ASSOCIATED WITH DIABETES</h1>
			<hr />
		</header>
		<main id="ComplicationsBox">
			<div>
				<p>
					Graphic displaying long and short term diabetes
					complications.
				</p>
			</div>
		</main>
	</section>
	<section class="motivationalMessage">
		<a href="/diabetes-awareness-and-action/prevention"
			><div>
				<h3>Do more...</h3>
				<p>prevention</p>
			</div></a
		>
	</section>
	<section>
		<header class="mainSectionHead">
			<hr class="testimonialHr" />
			<h1>TESTIMONIAL: US SENATOR DEBBIE STABENOW</h1>
		</header>
		<main class="testimonial">
			<a
				href="/diabetes-awareness-and-action/media/testimonials/dstabenow.pdf"
				target="_blank"
				><img
					class="testimonial"
					src="/diabetes-awareness-and-action/media/testimonials/dstabenow.png"
					alt="Testimonial screenshot from Area Agencies on Aging Association of Michigan."
				/></a
			>
			<p>
				“It was exciting to learn about the success of your recent
				"Diabetes Awareness And Action" project and your efforts to
				expand the program through the Lions International Foundation.”
			</p>
		</main>
	</section>
</Layout>
