---
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"
import daaLogoGlowing from "../assets/branding/logo-daa-color-glowing.svg"
---

<Layout
	description="Diabetes Awareness And Action raises awareness of the complications associated with diabetes. We believe awareness is key in the fight: our free, one-minute Prediabetes Risk Test gives you an effective estimation on your risk."
>
	<section class="intro">
		<h1>
			This is way easier than
			<span class="colorb">Diabetes.</span>
		</h1>
		<h2>
			Diabetes never sleeps, and neither do we. We're here for you

			<span class="colorb">24/7</span>.
		</h2>
		<div id="introBg"></div>
		<img
			id="introFg"
			src="/diabetes-awareness-and-action/media/awareness/introfg.svg"
		/>
		<a
			href="/diabetes-awareness-and-action/media/awareness/toolkit.pdf"
			target="_blank"
			><div class="toolkit">
				<p>Want to take action? Download our free diabetes toolkit.</p>
				<div>
					<img
						src="/diabetes-awareness-and-action/media/awareness/toolkit.png"
					/>
				</div>
			</div></a
		>
	</section>
	<section class="dadMission">
		<div class="missionLogo">
			<Image
				src={daaLogoGlowing}
				alt="Diabetes Awareness And Action logo"
			/>
			<h1>DIABETES AWARENESS AND ACTION</h1>
		</div>
		<div class="mission">
			<div class="missionBox">
				<p>
					<span class="bold1">OUR MISSION</span> is to raise awareness
					of the complications associated with diabetes through
					screenings, prevention, and education.
				</p>
				<p>
					<span class="bold1">WE SUPPORT</span> and sponsor various
					awareness events, fundraisers, and campaigns intended to
					educate the public and raise awareness about diabetes. It is
					crucial to raise awareness about the complications of
					diabetes to educate people who may not understand the
					symptoms, the risk factors, and treatment options.
				</p>
				<p>
					<span class="bold1">WE SERVE</span> to reduce the prevalence
					of diabetes and to improve the quality of life for those
					living with diabetes in our communities. During this
					unprecedented time, the Lions of District 10 have responded
					with urgency and care developing initiatives and ways to
					help our communities.
				</p>
				<p>
					<span class="bold1"
						>Together we can, together we will. Kindness in Action!</span
					>
				</p>
				<p>
					This program has been funded by Lions of Michigan and a
					grant from Lions Clubs International Foundation.
				</p>
			</div>
			<div class="subMissionBox">
				<img
					src="/diabetes-awareness-and-action/media/brand/lionslogo_blue.png"
					alt="Lions International logo"
				/>
				<p>See how important Diabetes is to the Lions:</p>
				<a
					class="subMissionBoxLink"
					href="https://youtu.be/X6D_OlWByR0"
					target="_blank"
					><img
						src="/diabetes-awareness-and-action/media/awareness/videoButton.svg"
					/></a
				>
			</div>
		</div>
		<div class="missionPresidentialVideo">
			<iframe
				width="560"
				height="315"
				src="https://www.youtube.com/embed/dImh9TcG1xY?si=zT0J3oZJ2uSA5vQO"
				title="YouTube video player"
				allowfullscreen></iframe>
		</div>
	</section>

	<section class="bigPicture">
		<img
			class="pictureTab"
			src="/diabetes-awareness-and-action/media/awareness/pictureTab.svg"
		/>
		<div class="container">
			<header class="mainSectionHead">
				<h1>THE BIG PICTURE</h1>
			</header>
			<div class="bigPictureSection">
				<div class="bigPictureIcon">
					<img
						src="/diabetes-awareness-and-action/media/awareness/bigPicture/america.svg"
					/>
				</div>
				<div class="bigPictureBox">
					<div><h1>10% of America</h1></div>
					<p>
						According to the American Diabetes Association, an
						estimated 34.2 million people in the United States, or
						over 10% of the population, have diabetes.
					</p>
				</div>
			</div>
			<div class="bigPictureSection">
				<div class="bigPictureIcon">
					<img
						src="/diabetes-awareness-and-action/media/awareness/bigPicture/unaware.svg"
					/>
				</div>
				<div class="bigPictureBox">
					<div><h1>1 in 5 don't know</h1></div>
					<p>
						One in five people with diabetes don’t know they have
						the disease. This is a big problem, as management of
						diabetes is key to staying healthy.
					</p>
				</div>
			</div>
			<div class="bigPictureSection">
				<div class="bigPictureIcon">
					<img
						src="/diabetes-awareness-and-action/media/awareness/bigPicture/risk.svg"
					/>
				</div>
				<div class="bigPictureBox">
					<div><h1>88 million at risk</h1></div>
					<p id="riskText">
						An estimated 88 million American adults have
						prediabetes. A simple
						<a href="#Test2Prevent"
							><span class="colorb bold1">one minute test</span
							></a
						>
						 will tell you if you are at risk.
					</p>
				</div>
			</div>
			<div class="bigPictureSection">
				<div class="bigPictureIcon">
					<img
						src="/diabetes-awareness-and-action/media/awareness/bigPicture/local.svg"
					/>
				</div>
				<div class="bigPictureBox">
					<div><h1>Local U.P.</h1></div>
					<p id="localText">
						1 in 3 adults have prediabetes, and most don’t know it.
						Do the math, could it be you?
					</p>
				</div>
			</div>
			<div class="bigPictureSection">
				<div class="bigPictureIcon">
					<img
						src="/diabetes-awareness-and-action/media/awareness/bigPicture/expensive.svg"
					/>
				</div>
				<div class="bigPictureBox">
					<div><h1>2x as expensive</h1></div>
					<p id="expensiveText">
						Medical costs for people with diabetes are two times
						higher for people with diabetes than those who don’t
						have diabetes.
					</p>
				</div>
			</div>
			<img
				class="testTab"
				src="/diabetes-awareness-and-action/media/awareness/testTab.svg"
			/>
		</div>
	</section>
	<section id="Test2Prevent" class="testPrevent">
		<header class="mainSectionHead">
			<h1>TEST <span class="colorb">2</span> PREVENT</h1>
			<p>
				Spend a minute on your health,
				<span class="bold1">take the risk test</span>, and find out if
				you are at high risk for developing diabetes.
				<span class="bold1">With prediabetes, action is the key!</span>
			</p>
			<hr />
		</header>
		<main>
			<div class="testPreventMobileInfo">
				<div class="preventMobileHeader">
					<h1>This is a one minute test!</h1>
					<p>Ways to share:</p>
				</div>
				<div class="preventMobileBox">
					<div>
						<h1>1</h1>
						<a
							href="/diabetes-awareness-and-action/media/awareness/test.pdf"
							target="_blank"><p>Download the PDF</p></a
						>
					</div>
					<div>
						<h1>2</h1>
						<p>QR Code Scan</p>
						<img
							src="/diabetes-awareness-and-action/media/awareness/qr-code.svg"
							alt="QR code linking to the diabetes test."
						/>
					</div>
					<div>
						<h1>3</h1>
						<p>Take the test below!</p>
					</div>
				</div>
			</div>
			<div class="testPreventPoll">
				<div>
					<a
						href="/diabetes-awareness-and-action/media/awareness/test.pdf"
						target="_blank"
					>
						<img
							src="/diabetes-awareness-and-action/media/awareness/test-page-1.jpg"
						/>
						<img
							src="/diabetes-awareness-and-action/media/awareness/test-page-2.jpg"
						/>
					</a>
				</div>
			</div>
			<div class="testPreventDesktopInfo">
				<h1>This is a one minute test!</h1>
				<h3>Ways to share:</h3>
				<div>1</div>
				<a
					href="/diabetes-awareness-and-action/media/awareness/test.pdf"
					target="_blank"
					><p>Download the PDF</p>
					<img
						class="testPreview"
						src="/diabetes-awareness-and-action/media/awareness/test-preview.png"
						alt="Preview of diabetes worksheet"
					/></a
				>
				<div>2</div>
				<p>QR Code Scan</p>
				<img
					src="/diabetes-awareness-and-action/media/awareness/qr-code.svg"
					alt="QR code linking to the diabetes test."
				/>
				<div>3</div>
				<p>Test to the left!</p>
			</div>
		</main>
		<div class="awarenessFlyers">
			<a
				href="/diabetes-awareness-and-action/media/flyers/2019.pdf"
				target="_blank"
				><div class="flyerBox">
					<div id="Flyer2019"></div>
					<p>2019 Awareness Flyer</p>
				</div></a
			>
			<a
				href="/diabetes-awareness-and-action/media/flyers/2020.pdf"
				target="_blank"
				><div class="flyerBox">
					<div id="Flyer2020"></div>
					<p>2020 Awareness Flyer</p>
				</div></a
			>
		</div>
	</section>
	<section>
		<header class="mainSectionHead">
			<h1>DIABETES AWARENESS</h1>
			<hr />
		</header>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/awareness/diabetesAwareness/diabetes.jpg"
					alt="Lions International diabetes logo."
				/>
				<div class="info">
					<li>
						Lions around the world are making diabetes a focus of
						their service.
					</li>
					<li>
						We're helping educate the world on the need for diabetes
						research, programs and initiatives.
					</li>
					<li>
						Our goal is to reduce the prevalence of diabetes in the
						coming years through service, investment and kindness.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/awareness/diabetesAwareness/alert.jpg"
					alt="Alert sign."
				/>
				<div class="info">
					<li>
						American Diabetes Association’s Alert Day Observed in
						America the 4th Tuesday of March!
					</li>
					<li>
						It’s a one day wake up call that focuses on the
						seriousness of diabetes and the importance of
						understanding your risk of developing diabetes or health
						problems linked to diabetes.
					</li>
					<li>
						We encourage you to find out if you or someone you love
						is at risk for type 2 diabetes by taking the
						<span class="colorb bold1"
							>One Minute Diabetes Risk Test</span
						>.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/awareness/diabetesAwareness/world.jpg"
					alt="World Diabetes Day sign."
				/>
				<div class="info">
					<li>
						Throughout the month of November, we celebrate National
						Diabetes Awareness Month & World Diabetes Day.
					</li>
					<li>
						A time to get educated, find resources and make sure all
						those around you are aware of their risk of getting
						diabetes or serious health complications linked to
						diabetes.
					</li>
					<li>
						A time of awareness for programs, screenings, campaigns
						and events intended to educate community members on the
						impact of diabetes.
					</li>
				</div>
			</article>
			<article id="snapArticle">
				<img
					src="/diabetes-awareness-and-action/media/awareness/diabetesAwareness/snap.jpg"
					alt="SNAP program logo."
				/>
				<div class="info">
					<li>
						If you have trouble being able to pay for your food,
						help may be available through the SNAP program.
					</li>
					<li>
						Some people have difficulty with being able to by
						healthful food like fruits, vegetables, whole grains,
						and lean meat or fish. For some, it is about not having
						enough money. Many also may not have a place nearby to
						buy food or the food choices may be limited and cost too
						much.
					</li>
					<li>
						Having access to nutritious food is especially important
						if you live with a health condition like diabetes. Too
						much or too little food can make your blood sugars go
						too high or too low. Also, the type of food you eat can
						also affect your blood sugars. Blood sugars thar are
						often too high can lead to more health problems like
						stroke, heart attacks, or kidney disease.
					</li>
				</div>
				<div class="snapButtonsBox">
					<a
						href="https://www.fns.usda.gov/snap/supplemental-nutrition-assistance-program"
						><button>USDA Snap Site</button></a
					>
					<a href="tel:18002215689"><button>1-800-221-5689</button></a
					>
					<a href="tel:211"><button>UPDON 2-1-1</button></a>
				</div>
			</article>
		</main>
	</section>
	<section class="ourSolution">
		<header class="mainSectionHead">
			<h1>OUR SOLUTION</h1>
			<hr />
		</header>
		<div class="foodTrucks">
			<img
				src="/diabetes-awareness-and-action/media/awareness/foodtrucks.png"
				alt="Two food trucks, the cleaner one saying 'You are what you eat, choose more whole foods!' and the dirtier one saying 'Avoid processed foods and sweets.'"
			/>
			<p class="bold1">
				We have a HUGE problem that is very frightening – Over 85% of
				people living with prediabetes don’t even know that they have a
				serious health condition. If someone is obese and has
				prediabetes, it almost guarantees he or she will develop type 2
				diabetes unless he or she takes action to address prediabetes.
			</p>
			<h3>
				<span class="bold1">80,000</span> Yoopers live with prediabetes
				and don’t know it!
			</h3>
		</div>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/awareness/ourSolution/supersized.jpg"
					alt="Plate of steak and fries."
				/>
				<div class="info">
					<li>We live in a supersized world.</li>
					<li>
						Average portion sizes have grown so much over the past
						20 years, that sometimes the plate arrives and there’s
						enough food for two or even three people on it. Growing
						portion sizes are changing what Americans think of as a
						“normal” portion at home too. Eating normal portions in
						a supersized world can take some getting used too.
					</li>
					<li>
						<span class="bold1"
							>Size matters! Be mindful of your portion sizes, the
							average plate today is bigger than it was 20 years
							ago.</span
						>
					</li>
				</div>
			</article>
			<div class="solution plus"></div>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/awareness/ourSolution/drivethru.jpg"
					alt="Woman at a drivethru."
				/>
				<div class="info">
					<li>Food is everywhere, 24/7.</li>
					<li>
						The traditional family dinner is increasingly being
						replaced by the consumption of fast food. Many fast
						foods tend to be high in saturated fat, sugar, salt, and
						calories.
					</li>
					<li>
						<span class="bold1"
							>Fast foods tend to be high in saturated fat, sugar,
							salt, and calories. Eat less of these foods.</span
						>
					</li>
				</div>
			</article>
			<div class="solution plus"></div>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/awareness/ourSolution/busy.jpg"
					alt="Woman at a computer with her hands at her temples."
				/>
				<div class="info">
					<li>We're too busy to be active.</li>
					<li>
						Organize your busy life to be a better life. Being
						healthy means your busy life will be a better life. You
						will fit more in to your day without being exhausted by
						the evening. Time to get organized!
					</li>
					<li>
						<span class="bold1"
							>Choose activities that appeal to you, and schedule
							them with a workout buddy.</span
						>
					</li>
				</div>
			</article>
			<div class="solution plus"></div>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/awareness/ourSolution/cooking.jpg"
					alt="Microwave on a counter."
				/>
				<div class="info">
					<li>If we eat, why can't we cook?</li>
					<li>
						Many people don’t know how to cook. So they open a
						package and heat things up. Packaged food is often high
						in salt and/or sugar and low in nutrients and fiber.
						What people eat can be medicine or poison.
					</li>
					<li>
						<span class="bold1"
							>Nutrition is one of the most powerful things you
							can change to prevent or treat diabetes, high blood
							pressure and many other health conditions.</span
						>
					</li>
				</div>
			</article>
			<div class="solution equals"></div>
		</main>
		<div class="solutionBox">
			<div>
				<p>
					We live in a nation where 72% of adults are overweight or
					obese and over 30 million Americans have type 2 diabetes and
					88 million adults have prediabetes.
				</p>
			</div>
		</div>
	</section>
	<section class="motivationalMessage">
		<a href="/diabetes-awareness-and-action/education"
			><div>
				<h3>Learn more...</h3>
				<p>education</p>
			</div></a
		>
	</section>
	<section>
		<header class="mainSectionHead">
			<hr class="testimonialHr" />
			<h1>TESTIMONIAL: GOV. GRETCHEN WHITMER</h1>
		</header>
		<main class="testimonial">
			<a
				href="/diabetes-awareness-and-action/media/testimonials/whitmer.pdf"
				target="_blank"
				><img
					class="testimonial"
					src="/diabetes-awareness-and-action/media/testimonials/whitmer.png"
					alt="Testimonial screenshot from Governer Gretchen Whitmer."
				/></a
			>
			<p>
				“Let it be known, that it is a tremendous honor to congratulate
				the Lions of Michigan for the exceptional professionalism in
				organizing and implementing the "Diabetes Awareness And Action"
				project.”
			</p>
		</main>
	</section>
</Layout>
