---
import Layout from "../layouts/Layout.astro"
---

<Layout
	title="Prevention"
	description="Part of the happiness of life consists not in fighting battles. But avoiding them.” Stay ahead of prediabetes by learning of programs and methods to avoid the fight in the first place."
>
	<section>
		<header class="mainSectionHead">
			<h1>RESEARCH TO PREVENTION</h1>
			<p>
				Get involved and educate yourself on diabetes prevention, and
				volunteer with agencies and service organizations to help those
				living with diabetes.
			</p>
			<hr />
		</header>
		<h2>Intro & Diagnosis</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/road2Diabetes.jpg"
					alt="Road map for diabetes progression."
				/>
				<div class="info">
					<li>
						The numbers are staggering—an estimated 1 out of 3
						adults live with prediabetes.
					</li>
					<li>
						Type 2 diabetes affects about 95% of the people living
						with diabetes and has a lifestyle link.
					</li>
					<li>
						Type 1 diabetes is NOT linked to lifestyle and cannot be
						prevented; people with type 1 diabetes have to use
						insulin every day to live.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/swimming.jpg"
					alt="Man swimming in a pool."
				/>
				<div class="info">
					<li>
						One of the most problematic facts about prediabetes is
						that most people don't even know they have it.
					</li>
					<li>Prediabetes can be a silent disease.</li>
					<li>
						Prediabetes has one or more of the following risk
						factors:
					</li>
					<ul class="secondaryList">
						<li>Overweight</li>
						<li>45 years of age or older</li>
						<li>A parent, brother, or sister with diabetes</li>
						<li>Physically active less than three times a week</li>
						<li>
							If a woman, a history of gestational diabetes or
							polycystic ovary disease
						</li>
						<li>High blood pressure</li>
						<li>
							Black, Hispanic, Indigenous, and Asian ethnic/race
							groups have higher risk
						</li>
					</ul>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<!-- Show/Hide button and plus/minus sign -->
			<hr />
		</div>
		<h2>Programs & Support</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/supportTwo.jpg"
					alt="Woman gesturing to a group, presumably speaking."
				/>
				<div class="info">
					<li>
						Group based diabetes prevention programs are available
						in-person and online.
					</li>
					<li>
						The CDC has been facilitating the implementation of
						group-based Diabetes Prevention Programs (DPP), using
						leaders who have been through DPP life coach training.
					</li>
					<li>
						Designed for people at high risk of developing diabetes
						like those with prediabetes or women who have a past
						history of gestational diabetes, the DPP meets
						approximately 16 times over the first 6 months and then
						once a month for the next 6 months.
					</li>
					<li>
						Online programs like Zoom are available and convenient
						options for people who find it difficult to attend in
						person programs or do not have access to diabetes
						prevention programs in their regions.
					</li>
					<li>
						The program is also offered in several areas across the
						U.P. Dial 2-1-1 or log onto www.diabetesinmichigan.org
						to find where diabetes prevention programs are offered
						in the Upper Peninsula.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/chips.jpg"
					alt="Chips spilling from a bag onto a table."
				/>
				<div class="info">
					<li>Coping with triggers:</li>
					<li>
						External Triggers: For many people, seeing food,
						smelling it or remembering that a particular food is in
						the house can trigger them to eat. A little or a lot of
						extra food here and there can lead to weight gain – 100
						extra calories a day may yield 10 pounds of weight gain
						in a year.
					</li>
					<li>
						Fun Time Triggers: Being out with other people –eating
						out, socializing or at a party is usually associated
						with taking in more calories. People will often eat more
						and/or drink more when they are with other people.
					</li>
					<li>
						Emotional Triggers: Some of us deal with negative
						emotions through eating, especially while alone. Finding
						other ways to more effectively prevent or address
						negative emotions, like going for a walk or phoning a
						friend is important.
					</li>
					<li>
						Despite these triggers, sometimes you really are hungry
						and just need to eat!
					</li>
				</div>
			</article>
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/stress.jpg"
					alt="Woman at a desk with her hands clasped near her head."
				/>
				<div class="info">
					<li>Managing stress:</li>
					<li>
						Feelings of stress release the hormone cortisol which
						helps raise the blood sugar and facilitates other
						changes in the body to prepare you for ‘fight or
						flight.’
					</li>
					<li>
						If you constantly feel under stress, cortisol can work
						to push you toward developing type 2 diabetes.
					</li>
					<li>
						The other way that stress impacts type 2 diabetes
						development is through the unhealthy behaviors that
						often occur when a person feels ‘stressed out’.
					</li>
					<li>
						Some of the ways to reduce or manage stress that are
						addressed in the DPP include:
					</li>
					<ul class="secondaryList">
						<li>Asking for help from others</li>
						<li>Learning to say no</li>
						<li>Getting enough sleep</li>
						<li>
							Knowing yourself – what are the things that cause
							you stress?
						</li>
						<li>Making time for fun</li>
						<li>Having a to-do list</li>
						<li>Setting small, doable goals</li>
						<li>Getting active</li>
						<li>
							Taking a break from whatever is stressing you out
						</li>
					</ul>
				</div>
			</article>
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/workout.jpg"
					alt="Workout partners lifting weights."
				/>
				<div class="info">
					<li>Getting support:</li>
					<li>
						Losing weight and making time for physical activity most
						days of the week is not always easy.
					</li>
					<li>
						Having others who support a person’s behavior change can
						be instrumental in his or her success.
					</li>
					<li>
						One way to gain support for behavior changes is to tell
						others how they can support you.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/nature.jpg"
					alt="Grandmother with grandchildren in the woods."
				/>
				<div class="info">
					<li>
						Being active (it is critical for type 2 diabetes
						prevention!):
					</li>
					<li>
						It helps with insulin resistance – being active actually
						helps your body use your insulin more effectively, so
						that you can get the sugar that is floating around your
						blood stream into your cells for energy!!
					</li>
					<li>It helps maintain muscle mass.</li>
					<li>It supports weight loss and weight maintenance.</li>
				</div>
			</article>
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/fruit.jpg"
					alt="Bowl of fruit."
				/>
				<div class="info">
					<li>Eating well to manage your weight:</li>
					<li>
						Keep healthy ready to eat foods (like yogurt, low fat
						cheese and vegetables) in the refrigerator at eye level
						and a bowl of fruit on the table.
					</li>
					<li>
						Keep other ready to eat foods like crackers and cereal
						in opaque containers in the cupboard.
					</li>
					<li>
						Leave trigger foods at the store or buy them in small
						packages.
					</li>
					<li>
						Plan, plan, plan: shop with a grocery list, pack foods
						when you travel and plan meals ahead of time whether
						eating out or at home.
					</li>
					<li>
						Know how much you are eating – weigh, measure and track
						your food; most people underestimate how much they are
						eating!
					</li>
					<ul class="secondaryList">
						<li>
							MyFitnessPal is one popular app that people use to
							track their food.
						</li>
					</ul>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
	</section>
	<section>
		<header class="mainSectionHead">
			<h1>WHY PREVENTION IS IMPORTANT</h1>
			<hr />
		</header>
		<h2>Why Prevention?</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/support.jpg"
					alt="Young woman and old man looking at a laptop."
				/>
				<div class="info">
					<li>
						The development of prediabetes or type 2 diabetes
						happens when a person has one or more of these risk
						factors:
					</li>
					<ul class="secondaryList">
						<li>Overweight</li>
						<li>45 years of age or older</li>
						<li>A parent, brother, or sister with diabetes</li>
						<li>Physically active less than three times a week</li>
						<li>
							If a woman, a history of gestational diabetes or
							polycystic ovary disease
						</li>
						<li>High blood pressure</li>
						<li>
							Black, Hispanic, Indigenous, and Asian ethnic/race
							groups have higher risk
						</li>
					</ul>
				</div>
			</article>
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/belly.jpg"
					alt="Person holding excess belly fat."
				/>
				<div class="info">
					<li>
						Attention to and detection of prediabetes is important.
					</li>
					<li>
						Focusing on health takes time and change. Americans
						today spend more time being busy than being active.
					</li>
					<li>
						Take time to be physically active, shop for healthy
						foods, read labels, and cook.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/map.png"
					alt="Map of the upper Midwest with DAD logo denoting headquarters location."
				/>
				<div class="info">
					<li>It is critical for the well-being of Michiganders.</li>
					<li>
						A diabetes prevention weight loss program (DPP) assists
						your efforts to lose weight and keep it off through
						healthy eating and physical activity.
					</li>
					<li>
						Diabetes and prediabetes is always serious and it
						demands your attention immediately!
					</li>
					<li>
						Ignoring diabetes and prediabetes can lead to serious
						short & long term complications.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/biking.jpg"
					alt="Man on a bike resting atop a mountain."
				/>
				<div class="info">
					<li>
						Research shows that the early detection of prediabetes
						and making lifestyle changes can prevent or delay
						getting type 2 diabetes.
					</li>
					<li>
						Time to exercise does not mean at a gym, it can be
						mountain biking, hiking, walking, swimming, riding bikes
						with the kids or kicking the soccer ball around with
						family and friends.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/family.jpg"
					alt="Mother, father, and baby sitting in snow."
				/>
				<div class="info">
					<li>
						Lifestyle and wellness does not take time away from
						family and friends.
					</li>
					<li>
						Eating together encourages family togetherness, helps
						kids do better in school, and helps prevent weight
						problems.
					</li>
					<li>
						It will add time in the long run and make it more
						quality time too.
					</li>
					<li>
						Make health a family choice, it’s a lifestyle, not a
						diet!
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Prevention Shows Promise</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/registry.jpg"
					alt="Stack of documents."
				/>
				<div class="info">
					<li>What do people who lose weight and keep it off do?</li>
					<li>
						The National Weight Control Registry has been following
						more than 10,000 people who have successfully lost large
						amount of weight and have kept it off for long periods
						of time.
					</li>
					<li>
						The average registry participant has lost about 66
						pounds and kept if off for 5.5 years. Here are a few of
						the things that they have in common:
					</li>
					<ul class="secondaryList">
						<li>
							55% of the participants needed help (like joining a
							program) to lose their weight
						</li>
						<li>98% changed their food intake</li>
						<li>
							94% got more active (walking was the most common
							type of physical activity)
						</li>
						<li>78% eat breakfast everyday</li>
						<li>75% weigh themselves at least once a week</li>
						<li>62% watch less than 10 hours of TV each week</li>
						<li>90% exercise every day, about 1 hour</li>
					</ul>
				</div>
			</article>
			<article>
				<img
					src="/defense-against-diabetes/media/prevention/education.jpg"
					alt="Two women learning at a shared desk."
				/>
				<div class="info">
					<li>
						What are some of the things that need to happen to
						conquer type 2 diabetes?
					</li>
					<ul class="secondaryList">
						<li>
							All adults over the age of 45 should know what their
							fasting glucose level is.
						</li>
						<li>
							Adults under the age of 45 who are overweight or
							obese and have at least 1 other diabetes risk factor
							should know their fasting glucose level.
						</li>
						<li>
							People with prediabetes should receive treatment to
							help them prevent type 2 diabetes.
						</li>
						<li>
							Worksites, schools, churches and other community
							organizations need to support healthful living.
						</li>
						<li>
							We need policies that support healthy families and
							communities (such as accessible grocery stores,
							affordable healthful foods like fruits and
							vegetables and safe, walkable and bikeable
							communities)
						</li>
						<li>
							We can all play a role – it takes a widespread
							Yooper Commitment to prevent type 2 diabetes!
						</li>
					</ul>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
	</section>
	<section class="motivationalMessage">
		<a href="/defense-against-diabetes/self-management"
			><div>
				<h3>Care more...</h3>
				<p>self-management</p>
			</div></a
		>
	</section>
	<section>
		<header class="mainSectionHead">
			<hr class="testimonialHr" />
			<h1>
				TESTIMONIAL: UNIVERSITY OF MICHIGAN HEALTH SYSTEM MID-MICHIGAN
				HEALTH
			</h1>
		</header>
		<div class="testimonial">
			<a
				href="/defense-against-diabetes/media/testimonials/aaaa.pdf"
				target="_blank"
				><img
					class="testimonial"
					src="/defense-against-diabetes/media/testimonials/aaaa.png"
					alt="Testimonial screenshot from Area Agencies on Aging Association of Michigan."
				/></a
			>
			<p>
				“We appreciate the opportunity our membership has had over the
				past year to work with the Lions Club on diabetes awareness,
				education, self-management and prevention through a Lions Club
				International Foundation grant.”
			</p>
		</div>
	</section>
</Layout>
