---
import Layout from "../layouts/Layout.astro"
---

<Layout title="References" noSeo>
	<section class="references">
		<header class="mainSectionHead">
			<h1>REFERENCES</h1>
			<hr />
		</header>
		<div>
			<br />
			<p>
				American Diabetes Association. Foundations of care and
				comprehensive medical evaluation. Diabetes Care. 2016; 39(suppl
				1):S26 (Table 3.3).
			</p>
			<br />
			<p>
				National Institutes of Health, Office of Dietary Supplements.
				Dietary supplements: what you need to know.
				ods.od.nih.gov/HealthInformation/DS_WhatYouNeedToKnow.aspx NIH
				external link. Reviewed June 17, 2011. Accessed June 21, 2016.
			</p>
			<br />
			<p>
				U.S. Department of Health and Human Services, Office of Disease
				Prevention and Health Promotion. Physical Activity Guidelines
				for Americans, 2nd edition. Washington, DC: U.S. Department of
				Health and Human Services; 2018.
				https://health.gov/paguidelines/second-edition/ External link.
				Updated January 14, 2019. Accessed January 14, 2019.
			</p>
			<br />
			<p>
				Yardley JE, Sigal RJ. Exercise strategies for hypoglycemia
				prevention in individuals with type 1 diabetes. Diabetes
				Spectrum. 2015; 28(1):32–38.
			</p>
			<br />
			<p>
				Colberg SR, Sigal RJ, Yardley JE, et al. Physical
				activity/exercise and diabetes: a position statement of the
				American Diabetes Association. Diabetes Care. 2016;
				39(11):2065–2079.
			</p>
			<br />
			<p>
				American Diabetes Association. Classification and diagnosis of
				diabetes – Standards of Medical Care in Diabetes 2020. Available
				at:
				https://care.diabetesjournals.org/content/43/Supplement_1/S14.
				Accessed on March 7, 2020.
			</p>
			<br />
			<p>
				American Diabetes Association. Prevention or delay of type 2
				diabetes – Standards of Medical Care in Diabetes 2020. Available
				at:
				https://care.diabetesjournals.org/content/43/Supplement_1/S32.
				Accessed on March 7, 2020.
			</p>
			<br />
			<p>
				CDC National Diabetes Prevention Program. Available at:
				https://www.cdc.gov/diabetes/prevention/index.html. Accessed on
				December 6, 2019.
			</p>
			<br />
			<p>
				DASH (Dietary Approaches to Stopping Hypertension) Eating Plan.
				Available at:
				https://www.nhlbi.nih.gov/health-topics/dash-eating-plan.
				Accessed on December 6, 2019.
			</p>
			<br />
			<p>
				Evert AB, Dennison M, et al. Nutrition Therapy for Adults With
				Diabetes or Prediabetes: A Consensus Report. 2019. Available at:
				https://care.diabetesjournals.org/content/42/5/73. Accessed on
				December 6, 2019.
			</p>
			<br />
			<p>
				Heidemann C, Paprott R, et al. Perceived diabetes risk and
				related determinants in individual with high actual diabetes
				risk; results from a nationwide population-based survey.
				Available at: https://drc.bmj.com/content/7/1/e000680. Accessed
				on March 7, 2020.
			</p>
			<br />
			<p>
				Oldway Cultural Food Traditions (contains resource materials for
				the Mediterranean Diet). Available at: https://oldwayspt.org/.
				Accessed on December 6, 2019.
			</p>
			<br />
			<p>
				Position of the Academy of Nutrition and Dietetics:
				Interventions for the Treatment of Overweight and Obesity in
				Adults. 2016. Available at
				https://www.eatrightpro.org/-/media/eatrightpro-files/practice/position-and-practice-papers/positionpapers/weightmanagement.pdf.
				Accessed on December 6, 2019.
			</p>
			<br />
			<p>
				Position of the Academy of Nutrition and Dietetics: Vegetarian
				Diets. Available at:
				https://www.eatrightpro.org/-/media/eatrightpro-files/practice/position-and-practicepapers/position-papers/vegetarian-diet.pdf.
				Accessed on December 6, 2019.
			</p>
			<br />
			<p>
				The National Weight Control Registry. Available at:
				http://www.nwcr.ws. Accessed on Dec 7, 2019.
			</p>
			<br />
			<p>
				USDA Choose My Plate. Available at:
				https://www.choosemyplate.gov. Accessed on December 6, 2019.
			</p>
			<br />
			<p>
				Xie X, Liu Q, et al. Impact of cigarete smoking in type 2
				diabetes development. Available at:
				https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4002374/. Accessed
				on March 7, 2020.
			</p>
		</div>
	</section>
</Layout>
