---
import Layout from "../layouts/Layout.astro"
---

<Layout
	title="Self-Management"
	description="Discover a wealth of resources to get yourself the help you need. We provide a map of community events and partners, an interactive Wellness Wheel, and volunteering opportunities, and more!"
>
	<section class="managementIntro">
		<header class="mainSectionHead">
			<h1>SELF-MANAGEMENT HEALTH SKILLS</h1>
			<p>See how you can manage your diabetes.</p>
			<hr />
		</header>
		<h2>Intro</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/football.jpg"
					alt="Football sitting in a field."
				/>
				<div class="info">
					<li>
						Vince Lombardi once said “The best defense is a good
						offense.”
					</li>
					<li>Being proactive with your health is important.</li>
					<li>
						Making simple life style changes can control and prevent
						diabetes.
					</li>
					<li>
						A healthy lifestyle may act as a shield of Defense
						against preventable disease.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/gym.jpg"
					alt="Woman in shoes with a yoga mat."
				/>
				<div class="info">
					<li>
						Diabetes self-management refers to the activities and
						behaviors people can take to control and treat their
						condition.
					</li>
					<li>
						How well diabetes is managed depends on the person
						living with diabetes. Your actions are the most
						important part of staying healthy when you live with
						diabetes and include:
					</li>
					<ul class="secondaryList">
						<li>
							Testing blood sugar and taking action when it gets
							too high or too low
						</li>
						<li>
							Eating balanced meals and watching portion sizes
						</li>
						<li>Being active most days of the week</li>
						<li>Drinking plenty of water to avoid dehydration</li>
						<li>Taking medications as prescribed</li>
						<li>Checking feet</li>
						<li>Learning how to manage stress</li>
						<li>Education, education, education!</li>
						<li>Getting recommended tests and exams</li>
					</ul>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/ada.jpg"
					alt="American Diabetes Association logo."
				/>
				<div class="info">
					<li>
						The American Diabetes Association (ADA) note in 2021
						guidelines that self-management and education are
						crucial aspects of diabetes care.
					</li>
					<li>
						Diabetes self-management can reduce blood sugar levels,
						mortality risk, and healthcare costs, as well as weight
						in people with excess weight.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/salad.jpg"
					alt="Hand picking a tomato slice out of a salad."
				/>
				<div class="info">
					<li>
						If you are one of the millions of people living with
						diabetes, we have good news to help you live a better
						quality of life.
					</li>
					<li>
						Participating in a self-management education (DSME)
						program can help you learn skills to take care of your
						diabetes.
					</li>
					<li>
						Checking blood sugar regularly, eating healthy food,
						being active, taking medicines as prescribed, and
						handling stress will help keep blood sugar levels in a
						healthy range.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/happy.jpg"
					alt="Woman holding a cup of coffee and smiling."
				/>
				<div class="info">
					<li>
						The bottom line is that people who have the information
						and support they need to manage their diabetes are
						healthier than people who do not.
					</li>
					<li>
						In the next section, find out how an DSME program can
						help you learn more and feel better.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Diabetes Self-Management Education and Support</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/service.jpg"
					alt="Graphic of various hospital services."
				/>
				<div class="info">
					<li>
						Diabetes Self-Management Education and Support (DSMES)
						services provide information and skills for people to
						manage their diabetes and related conditions.
					</li>
					<li>
						DSMES is tailored to your individual needs, goals, and
						life experiences and is guided by evidence-based
						standards.
					</li>
					<li>
						You’ll learn how to eat healthy, be physically active,
						monitor blood sugar levels, take medication, problem
						solve, reduce risk for other health conditions, cope
						with the emotional side of diabetes, and improve your
						health and quality of life.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/insurance.jpg"
					alt="Insurance policy document."
				/>
				<div class="info">
					<li>
						Cost: The cost can vary depending on if it is covered by
						private insurance, Medicare, or Medicaid in some states.
					</li>
					<li>
						Format: The programs can be taught in a group or
						individual setting and can be offered in person, online,
						or by phone.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/checkup.jpg"
					alt="Doctor showing a medical record to a patient."
				/>
				<div class="info">
					<li>
						There are three times DSMES can help you manage your
						diabetes that include at your yearly follow-up visits
						with your doctor, if health complications arise, and
						when changes in your care occur.
					</li>
					<li>
						Your doctor may refer you to a specific program. If not,


						<a
							href="https://www.diabeteseducator.org/living-with-diabetes/find-an-education-program"
							target="_blank"
							>visit the American Association of Diabetes
							Educators (ADCES) website</a
						> to find a program in your area.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/team.jpg"
					alt="Group photo of hospital team."
				/>
				<div class="info">
					<li>
						People with Diabetes can live healthy, active lives. The
						key is to follow a diabetes care plan.
					</li>
					<li>
						Good control of blood sugar levels can dramatically
						lower your risk for developing complications. Your care
						provider may also recommend that you see health care
						professionals, including the following:
					</li>
					<ul class="secondaryList">
						<li>
							Endocrinologist – specializes in the treatment of
							diabetes
						</li>
						<li>
							Diabetes Nurse Educator – Instruction in your
							day-to-day care
						</li>
						<li>Dietician – help in planning meals</li>
						<li>Ophthalmologist – eye examinations</li>
						<li>Podiatrist – routine foot care</li>
						<li>
							Exercise Specialist – help in planning a diabetes
							exercise program
						</li>
						<li>
							Lifestyle Coach – deliver lifestyle change programs
						</li>
						<li>
							Physical Therapist – help with physical problems
							related to diabetes
						</li>
					</ul>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Self Care Tips</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/partners.jpg"
					alt="Workout partners, one doing a pushup while the other counts."
				/>
				<div class="info">
					<li>
						Self-management can also involve family members,
						friends, or other caregivers.
					</li>
					<li>
						These individuals can offer emotional support,
						participate in exercise activities, help monitor blood
						sugar, administer insulin and provide open
						communication.
					</li>
					<li>
						Enhanced social support from family and friends can help
						an individual’s belief in their ability to successfully
						manage their health needs.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/taichi.jpg"
					alt="Older woman and man practicing tai chi."
				/>
				<div class="info">
					<li>
						Managing Diabetes is not always easy. Feeling stressed,
						sad, or angry is common when you are living with
						Diabetes.
					</li>
					<li>
						Long term stress can raise your blood glucose and blood
						pressure, but you can learn ways to lower your stress.
					</li>
					<li>
						Try deep breathing, tai chi, gardening, yoga, walking,
						hiking, meditating, listening to music, and doing a
						hobby.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Resources</h2>
		<main class="picturesInfo">
			<article>
				<div class="info resources">
					<h1>
						Here are some great resources for managing diabetes:
					</h1>
					<a
						href="https://www.michigan.gov/whitmer/0,9309,7-387-90501_90626-250211--,00.html"
						target="_blank"
						><li>
							Governor's Council on Physical Fitness, Health and
							Sports
						</li></a
					>
					<a href="https://michiganfitness.org/" target="_blank"
						><li>Michigan Fitness Foundation</li></a
					>
					<a
						href="https://health.gov/our-work/nutrition-physical-activity/physical-activity-guidelines"
						target="_blank"
						><li>Physical Activity Guidelines for Americans</li></a
					>
					<a
						href="https://www.womenshealth.gov/bodyworks"
						target="_blank"
						><li>
							A toolkit for healthy teens and strong families
						</li></a
					>
					<a
						href="https://www.womenshealth.gov/fitness-nutrition"
						target="_blank"
						><li>Fitness and Nutrition for Women</li></a
					>
					<a
						href="https://www.nhlbi.nih.gov/health/educational/wecan/"
						target="_blank"
						><li>
							Ways to enhance children's activity and nutrition
						</li></a
					>
					<a
						href="https://www.nia.nih.gov/health/exercise-physical-activity"
						target="_blank"><li>Go4Life</li></a
					>
					<a href="Diversity Rx" target="_blank"
						><li>Minority Health</li></a
					>
					<a
						href="https://thinkculturalhealth.hhs.gov/"
						target="_blank"><li>Think Cultural Health</li></a
					>
					<a href="https://nccc.georgetown.edu/" target="_blank"
						><li>Natural Center for Cultural Competence</li></a
					>
					<a href="https://diversityrx.org/" target="_blank"
						><li>Diversity Rx</li></a
					>
					<a
						href="https://www.cdc.gov/diabetes/managing/eat-well/diabetes-and-carbohydrates.html"
						target="_blank"><li>Carb Counting</li></a
					>
					<a
						href="https://www.diabetes.org/healthy-living/recipes-nutrition?s_src=vanity&s_subsrc=createyourplate"
						target="_blank"
						><li>Eating right doesn’t have to be boring</li></a
					>
					<a href="https://www.diabetesfoodhub.org" target="_blank"
						><li>Diabetes Food Hub</li></a
					>
					<a
						href="https://www.cdc.gov/tobacco/campaign/tips/quit-smoking/index.html"
						target="_blank"><li>How to Quit Smoking</li></a
					>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
	</section>
	<!-- section class="communityEvents">
            <header id="GoogleCalendar" class="mainSectionHead">
                <h1>COMMUNITY EVENTS</h1>
                <p>Check out our calendar of events in our region, and stay up to date on what’s happening. We sponsor and support programs with MSU EXT, UPCAP, UPDON, Tai Chi for Diabetes, and the National Kidney Foundation.</p>
                <hr />
            </header>
            <div class="dadCalendar">
                <div class="calendarBox">
                    <div class="gCal">
                        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FDetroit&showNav=1&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&src=bzY2NHJoc2licjE3a29wZzN0OXBubXJvbzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=MDhwdjVsanFscGEzYjVqb2xxYjY2Mzk4bnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%234285F4&color=%23E4C441" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FDetroit&showNav=1&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&src=bzY2NHJoc2licjE3a29wZzN0OXBubXJvbzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=MDhwdjVsanFscGEzYjVqb2xxYjY2Mzk4bnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%234285F4&color=%23E4C441" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
                <div class="calendarTag">
                    <p>Subscribe to the D.A.D. calendar to stay up to date with events in your area.</p>
                </div>
                <p class="calendarDisclaimer">Our calendar looking a little bare? <span class="bold1">Please bear with us!</span> More events will be added as we fully integrate it. Check back soon.</p>
            </div>
        </section -->
	<section class="whereToLook">
		<header class="mainSectionHead">
			<h1>WHERE TO LOOK</h1>
			<p>
				In the U.P. there are diabetes self management programs, care
				managers, and RDN and/or Diabetes Care and management
				specialists embedded in practices. Also, 2 FNP who specialize in
				diabetes care. We also have specialized clinics in the U.P. for
				children with diabetes.
			</p>
			<hr />
		</header>
		<div class="lookBox">
			<iframe
				src="https://www.google.com/maps/d/embed?mid=1e1WL9SK7U4ILOugeekHOQpE_G1HNR9uW&hl=en"
				width="640"
				height="480"></iframe>
		</div>
	</section>
	<section class="toolsResources">
		<header class="mainSectionHead">
			<h1>FREE TOOLS AND RESOURCES</h1>
			<p>
				These tools and resources can help you reach your goals and
				better manage diabetes.
			</p>
			<hr />
		</header>
		<h2>Wellness Wheel</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/wellnessWheel.jpg"
					alt="Wellness wheel example."
				/>
				<div class="info">
					<li>
						Improve Your Wellness: The Wellness Wheel is a
						self-evaluation tool using a holistic, six-aspect model
						of health by enabling you to become aware of and make
						choices that will lead to a more successful existence.
					</li>
					<li>
						It’s a self-evaluation activity that helps you to
						understand in which areas you are Thriving, or
						struggling. Wellness is a journey, not a destination,
						and a wellness wheel enables you to check in with
						yourself regularly and evaluate your personal wellbeing.
					</li>
				</div>
			</article>
			<div class="wellnessWheel">
				<div class="wheelInfo">
					<div class="wellnessWheelBox">
						<img
							id="emo"
							class="emoClick wheelHover"
							src="/diabetes-awareness-and-action/media/management/wheel/emo.svg"
							alt="Wellness Aspect: Emotional."
						/>
						<img
							id="occ"
							src="/diabetes-awareness-and-action/media/management/wheel/occ.svg"
							alt="Wellness Aspect: Occupational."
						/>
						<img
							id="phys"
							src="/diabetes-awareness-and-action/media/management/wheel/phys.svg"
							alt="Wellness Aspect: Physical."
						/>
						<img
							id="soc"
							src="/diabetes-awareness-and-action/media/management/wheel/soc.svg"
							alt="Wellness Aspect: Social."
						/>
						<img
							id="int"
							src="/diabetes-awareness-and-action/media/management/wheel/int.svg"
							alt="Wellness Aspect: Intellectual."
						/>
						<img
							id="spir"
							src="/diabetes-awareness-and-action/media/management/wheel/spir.svg"
							alt="Wellness Aspect: Spiritual."
						/>
					</div>
					<div class="wellnessInfo">
						<!-- Get content for wellness wheel -->
						<article id="emoInfo" class="wellnessDisplay">
							<h1>Aspect: Emotional</h1>
							<p>
								The emotional dimension of wellness emphasizes
								an awareness and acceptance of one’s feelings.
								It reflects the degree to which an individual
								feels positive and enthusiastic about oneself
								and one’s life. This dimension involves the
								capacity to manage feelings and behaviors,
								accept yourself unconditionally, assess
								limitations, increase peace, and cope with
								stress.
							</p>
						</article>
						<article id="occInfo">
							<h1>Aspect: Occupational</h1>
							<p>
								The occupational dimension recognizes personal
								satisfaction and enrichment in one’s life
								through work. At the center of occupational
								wellness is the premise that occupational
								development is related to one’s attitude about
								one’s work. Traveling a path toward your
								occupational wellness, you’ll contribute your
								unique gifts, skills, and talents to work that
								is both personally meaningful and rewarding.
							</p>
						</article>
						<article id="physInfo">
							<h1>Aspect: Physical</h1>
							<p>
								The physical dimension recognizes the need for
								regular physical activity. Physical development
								encourages learning about diet and nutrition
								while discouraging the use of tobacco, drugs and
								excessive alcohol consumption. Optimal wellness
								is met through the combination of good exercise
								and eating habits. As you travel the wellness
								path, you’ll strive to spend time building
								physical strength, flexibility and endurance.
							</p>
						</article>
						<article id="socInfo">
							<h1>Aspect: Social</h1>
							<p>
								The social dimension encourages contributing to
								one’s environment and community. It emphasizes
								the interdependence between others and nature.
								As you travel a wellness path, you’ll become
								more aware of your importance in society as well
								as the impact you have on multiple environments.
								You’ll take an active part in improving our
								world by encouraging healthier living and
								initiating better communication with those
								around you.
							</p>
						</article>
						<article id="intInfo">
							<h1>Aspect: Intellectual</h1>
							<p>
								The intellectual dimension recognizes one’s
								creative, stimulating mental activities. A well
								person expands his or her knowledge and skills
								while discovering the potential for sharing his
								or her gifts with others. Using intellectual and
								cultural activities in the classroom and beyond
								the classroom combined with the human resources
								and learning resources available within the
								university community and the larger community, a
								well person cherishes intellectual growth and
								stimulation.
							</p>
						</article>
						<article id="spirInfo">
							<h1>Aspect: Spiritual</h1>
							<p>
								The spiritual dimension recognizes our search
								for meaning and purpose in human existence. It
								includes the development of a deep appreciation
								for the depth and expanse of life and natural
								forces that exist in the universe. Your search
								will be characterized by a peaceful harmony
								between internal personal feelings and emotions
								and the rough and rugged stretches of your path.
							</p>
						</article>
					</div>
				</div>
			</div>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/toolbox.jpg"
					alt="Toolbox illustration."
				/>
				<div class="info">
					<li>
						Utilize the WW wellness wheel to help you integrate
						these important dimensions of wellness in your life.
					</li>
					<li>
						Keep in mind that life is not static. Neither is your
						wellness. The wellness wheel is a tool that you can use
						periodically to evaluate how you are doing over time,
						and how your wellbeing has changed and is impacting your
						goals and life.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/family.jpg"
					alt="Parents walking with daughter on training bike."
				/>
				<div class="info">
					<li>Wellness is no longer a luxury but a necessity.</li>
					<li>
						Wellness is an active process by which people become
						more aware of their mind, body, soul and emotions.
						Wellness is not perfection, it’s progression!
					</li>
					<li>
						Since it’s a visual aid, the wellness wheel can help you
						clearly identify areas of wellness in your life that are
						probably neglected, or that have been left unchecked for
						some time. If this is the case, you might be feeling
						unstable, stressed, anxious, or simply unwell.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Diabetes ABCs</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/abc.jpg"
					alt="Alphabet soup with a spoon holding letters A, B, and C."
				/>
				<div class="info">
					<li>Manage your Diabetes ABCs.</li>
					<li>
						knowing your Diabetes ABC’s will help you manage your
						blood glucose, blood pressure and cholesterol.
					</li>
					<li><span class="bold1">A – A1C</span></li>
					<li><span class="bold1">B – Blood pressure</span></li>
					<li>
						<span class="bold1"
							>C – Cholesterol and Cardiovascular risk</span
						>
					</li>
					<li><span class="bold1">E – Eyes</span></li>
					<li><span class="bold1">F – Feet</span></li>
					<li><span class="bold1">K – Kidneys</span></li>
					<li><span class="bold1">O – Oral health</span></li>
					<li><span class="bold1">S – Smoking</span></li>
					<li><span class="bold1">V – Vaccinations</span></li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>How do Diabetes Care and Education Specialists Help?</h2>
		<main class="picturesInfo">
			<a
				href="https://www.diabeteseducator.org/practice/aade7-system"
				target="_blank"
				><img
					class="aade"
					src="/diabetes-awareness-and-action/media/management/aade7.png"
				/></a
			>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Carb Counting</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/nutrition.jpg"
					alt="Can displaying nutrition facts."
				/>
				<div class="info">
					<li>
						The amount of carbohydrates in foods is measured in
						grams.
					</li>
					<li>
						To count carbs grams in what you eat, you’ll need to
						learn which foods have carbs and be able to read the
						Food Labels and learn to estimate the number of grams of
						carbs in the foods you eat.
					</li>
					<li>
						Carb counting involves keeping track of the amount of
						carbs you eat and drink each day. It is a method of meal
						planning based on courting carbs.
					</li>
					<li>
						Carb courting is well worth the effort to learn when you
						consider the impact it has on your control.
					</li>
					<li>
						For more information, visit <a
							href="https://diabetes.org/healthy-living/recipes-nutrition/understanding-carbs/carb-counting-and-diabetes"
							target="_blank"
							><span class="bold1"
								>https://diabetes.org/healthy-living/recipes-nutrition/understanding-carbs/carb-counting-and-diabetes</span
							></a
						>.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>BMI Calculator</h2>
		<main class="picturesInfo">
			<article>
				<div class="info resources">
					<a
						href="https://www.cdc.gov/healthyweight/assessing/bmi/adult_bmi/english_bmi_calculator/bmi_calculator.html"
						target="_blank"
						><h1>
							Click here to go to the CDC Provided BMI Calculator.
						</h1></a
					>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Weight Loss Planning</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/coach.jpg"
					alt="Nutrition coach holding a clipboard and smiling."
				/>
				<div class="info">
					<li>
						If you are overweight or have obesity, work with your
						health care team to create a weight-loss plan.
					</li>
					<li>
						The Body Weight Planner can help you tailor your calorie
						and physical activity plans to reach & maintain your
						goal weight.
					</li>
					<li>
						For more information, visit <a
							href="https://www.niddk.nih.gov/bwp"
							target="_blank"
							><span class="bold1"
								>https://www.niddk.nih.gov/bwp</span
							></a
						>.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/yoga.jpg"
					alt="Pregnant woman doing a butterfly stretch."
				/>
				<div class="info">
					<li>
						To lose weight, you need to eat fewer calories and
						replace less healthy foods with foods lower in calories,
						fat, and sugar.
					</li>
					<li>
						If you have diabetes, are overweight or obese, and are
						planning to have a baby, you should try to lose any
						excess weight before you become pregnant.
					</li>
					<li>
						Learn more about planning for pregnancy if you have
						diabetes.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Meals</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/healthy.jpg"
					alt="Assortment of healthy foods."
				/>
				<div class="info">
					<li>
						Two common ways to help you plan how much to eat if you
						have diabetes are the plate method and carbohydrate
						counting, also called carb counting.
					</li>
					<li>
						Check with your health care team about the method that’s
						best for you: <a
							href="https://www.cdc.gov/diabetes/managing/eat-well/diabetes-and-carbohydrates.html"
							target="_blank"
							><span class="bold1"
								>https://www.cdc.gov/diabetes/managing/eat-well/diabetes-and-carbohydrates.html</span
							></a
						>.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/plate.jpg"
					alt="Empty plate on a table."
				/>
				<div class="info">
					<li>
						The plate method helps you control your portion sizes.
						You don’t need to count calories.
					</li>
					<li>
						Use a 9-inch plate. Put non-starchy vegetables on half
						of the plate; a meat or other protein on one-fourth of
						the plate; and a grain or other starch on the last
						one-fourth.
					</li>
					<li>
						You can find many different combinations of food and
						more details about using the plate method from the
						American Diabetes Association’s Create Your Plate.
					</li>
					<li>
						Your daily eating plan also may include small snacks
						between meals.
					</li>
					<li>
						For more information, visit <a
							href="http://archives.diabetes.org/food-and-fitness/food/planning-meals/create-your-plate"
							target="_blank"
							><span class="bold1"
								>http://archives.diabetes.org/food-and-fitness/food/planning-meals/create-your-plate</span
							></a
						>.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/portion.jpg"
					alt="Handful of assorted nuts and raisins."
				/>
				<div class="info">
					<li>
						Watching your portion sizes is a key ingredient to
						fighting diabetes.
					</li>
					<ul class="secondaryList">
						<li>
							You can use everyday objects or your hand to judge
							the size of a portion
						</li>
						<li>
							1 serving of meat or poultry is the palm of your
							hand or a deck of cards
						</li>
						<li>1 3-ounce serving of fish is a checkbook</li>
						<li>1 serving of cheese is six dice</li>
						<li>
							1/2 cup of cooked rice or pasta is a rounded handful
							or a tennis ball
						</li>
						<li>1 serving of a pancake or waffle is a DVD</li>
						<li>
							2 tablespoons of peanut butter are a ping-pong ball
						</li>
					</ul>
					<li>
						For more information, visit <a
							href="https://www.diabetesfoodhub.org"
							target="_blank"
							><span class="bold1"
								>https://www.diabetesfoodhub.org</span
							></a
						>.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Exercising Safely</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/water.jpg"
					alt="Woman drinking from a water bottle."
				/>
				<div class="info">
					<li>
						How can I be physically active safely if I have
						diabetes?
					</li>
					<li>
						Be sure to drink water before, during, and after
						exercise to stay well hydrated.
					</li>
					<li>
						The following are some other tips for safe physical
						activity when you have diabetes.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/plan.jpg"
					alt="Notebook page titled 'WORKOUT PLAN.'"
				/>
				<div class="info">
					<li>Plan ahead</li>
					<li>
						Talk with your health care team before you start a new
						physical activity routine, especially if you have other
						health problems.
					</li>
					<li>
						Your health care team also can help you decide the best
						time of day for you to do physical activity based on
						your daily schedule, meal plan, and diabetes medicines.
					</li>
					<li>
						If you take insulin, you need to balance the activity
						that you do with your insulin doses and meals so you
						don’t get low blood glucose.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/hypoglycemia.jpg"
					alt="Blood sugar tester displaying 'LOW BLOOD SUGAR.'"
				/>
				<div class="info">
					<li>Prevent low blood glucose</li>
					<li>
						Because physical activity lowers your blood glucose, you
						should protect yourself against low blood glucose
						levels, also called hypoglycemia.
					</li>
					<li>
						Hypoglycemia also can occur after a long intense workout
						or if you have skipped a meal before being active.
					</li>
					<li>Planning is key to preventing hypoglycemia.</li>
					<li>
						You may need to check your blood glucose level before,
						during, and right after you are physically active.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/break.jpg"
					alt="Man taking a break from his workout."
				/>
				<div class="info">
					<li>Stay safe when blood glucose is high</li>
					<li>
						If you have type 1 diabetes, avoid vigorous physical
						activity when you have ketones in your blood or urine.
					</li>
					<li>
						If you are physically active when you have ketones in
						your blood or urine, your blood glucose level may go
						even higher.
					</li>
					<li>
						Ask your health care team what level of ketones are
						dangerous for you and how to test for them.
					</li>
					<li>
						Ketones are uncommon in people with type 2 diabetes.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/feet.jpg"
					alt="Woman massaging her feet."
				/>
				<div class="info">
					<li>Take care of your feet</li>
					<li>
						People with diabetes may have problems with their feet
						because of poor blood flow and nerve damage that can
						result from high blood glucose levels.
					</li>
					<li>
						To help prevent foot problems, you should wear
						comfortable, supportive shoes and take care of your feet
						before, during, and after physical activity.
					</li>
					<li>
						For more information, visit <a
							href="https://www.foothealthfacts.org/conditions/diabetic-foot-care-guidelines"
							target="_blank"
							><span class="bold1"
								>https://www.foothealthfacts.org/conditions/diabetic-foot-care-guidelines</span
							></a
						>.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Activities You Can Do</h2>
		<main class="picturesInfo">
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/biking.jpg"
					alt="Man riding a bike."
				/>
				<div class="info">
					<li>
						Most kinds of physical activity can help you take care
						of your diabetes.
					</li>
					<li>
						Certain activities may be unsafe for some people, such
						as those with low vision or nerve damage to their feet.
					</li>
					<li>
						Doing different types of physical activity each week
						will give you the most health benefits.
					</li>
					<li>
						Mixing it up also helps reduce boredom and lower your
						chance of getting hurt.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/stairs.jpg"
					alt="Woman walking up the stairs."
				/>
				<div class="info">
					<li>Add extra activity to your daily routine</li>
					<li>
						If you have been inactive or you are trying a new
						activity, start slowly, with 5 to 10 minutes a day.
					</li>
					<li>
						Try these simple ways to add physical activities in your
						life each day:
					</li>
					<ul class="secondaryList">
						<li>
							Walk around while you talk on the phone or during TV
							commercials.
						</li>
						<li>
							Do chores, such as work in the garden, rake leaves,
							clean the house, or wash the car.
						</li>
						<li>
							Park at the far end of the shopping center parking
							lot and walk to the store.
						</li>
						<li>Take the stairs instead of the elevator.</li>
						<li>
							Make your family outings active, such as a family
							bike ride or a walk in a park.
						</li>
					</ul>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/office.jpg"
					alt="Woman doing leg lifts from an office chair."
				/>
				<div class="info">
					<li>
						If you are sitting for a long time, such as working at a
						desk or watching TV, do some light activity for 3
						minutes or more every half hour.
					</li>
					<li>Light activities include:</li>
					<ul class="secondaryList">
						<li>Leg lifts or extensions</li>
						<li>Overhead arm stretches</li>
						<li>Desk chair swivels</li>
						<li>Torso twists</li>
						<li>Side lunges</li>
						<li>Walking in place</li>
					</ul>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/aerobic.jpg"
					alt="Group cycle aerobics."
				/>
				<div class="info">
					<li>Do aerobic exercise</li>
					<li>
						Aerobic exercise is activity that makes your heart beat
						faster and makes you breathe harder.
					</li>
					<li>
						You should aim for doing aerobic exercise for 30 minutes
						a day most days of the week.
					</li>
					<li>
						You can split up these minutes into a few times
						throughout the day.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/hike.jpg"
					alt="Woman hiking across bridge."
				/>
				<div class="info">
					<li>
						To get the most out of your activity, exercise at a
						moderate to vigorous level.
					</li>
					<ul class="secondaryList">
						<li>Walking briskly or hiking</li>
						<li>Climbing stairs</li>
						<li>Swimming or a water-aerobics class</li>
						<li>Dancing</li>
						<li>Riding a bicycle or a stationary bicycle</li>
						<li>Taking an exercise class</li>
						<li>Playing basketball, tennis, or other sports</li>
					</ul>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/strength.jpg"
					alt="Man doing strength training."
				/>
				<div class="info">
					<li>Do strength training to build muscle</li>
					<li>
						Strength training is a light or moderate physical
						activity that builds muscle and helps keep your bones
						healthy.
					</li>
					<li>
						When you have more muscle and less body fat, you’ll burn
						more calories.
					</li>
					<li>
						You can do strength training with hand weights, elastic
						bands, or weight machines.
					</li>
					<li>
						Slowly increase the size of your weights as your muscles
						become stronger.
					</li>
				</div>
			</article>
			<article>
				<img
					src="/diabetes-awareness-and-action/media/management/stretching.jpg"
					alt="Group of women doing outdoor yoga."
				/>
				<div class="info">
					<li>Do stretching exercises</li>
					<li>
						When you stretch, you increase your flexibility, lower
						your stress, and help prevent sore muscles.
					</li>
					<li>
						Yoga is a type of stretching that focuses on your
						breathing and helps you relax.
					</li>
					<li>
						Even if you have problems moving or balancing, certain
						types of yoga can help.
					</li>
				</div>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>
		<h2>Press Center</h2>
		<main class="picturesInfo">
			<article>
				<a
					href="https://www.upmatters.com/news/local-news/lions-club-nmu-students-collaborate-on-website-for-diabetes-awareness/"
					target="_blank"
					><div class="press noImage">
						<div>
							<h1>
								Lions Club, NMU students collaborate on website
								for diabetes awareness
							</h1>
							<p>UPMatters/WJMN-TV | November 12th, 2021</p>
						</div>
					</div></a
				>
			</article>
			<article>
				<a
					href="https://www.lionsclubs.org/en/give-how-to-give/melvin-jones-fellowship"
					target="_blank"
					><div class="press noLink">
						<img
							src="/diabetes-awareness-and-action/media/management/press-center/melvin-jones-award.jpg"
							alt="Gary Perala holding the Melvin Jones Fellowship award."
						/>
						<div>
							<h1>
								Gary was Honored by PID Connie LeCleir-Meyer
								with the Melvin Jones Fellowship Award for his
								work in Diabetes
							</h1>
							<p>
								The Melvin Jones Fellowship (MJF) is the
								backbone of our foundation. Presented to those
								who donate US$1,000 to LCIF or to people for
								whom a donation was made by others, it’s a
								tremendous contribution to humanity and to the
								legacy of our founder, Melvin Jones. <span
									class="bold1">(READ MORE)</span
								>
							</p>
						</div>
					</div>
				</a>
				<article>
					<a
						href="https://www.miningjournal.net/news/front-page-news/2020/12/international-recognition-negaunee-resident-honored-for-diabetes-related-work/"
						target="_blank"
						><div class="press">
							<img
								src="/diabetes-awareness-and-action/media/management/press-center/district-governor.jpg"
								alt="Gary Perala shaking hands with District Governer Bruce LaBelle"
							/>
							<div>
								<h1>
									International recognition: Negaunee resident
									honored for diabetes-related work
								</h1>
								<p>The Mining Journal | December 30th, 2020</p>
							</div>
						</div></a
					>
				</article>
				<article>
					<a
						href="https://www.uppermichiganssource.com/2020/11/18/negaunee-man-receives-international-presidential-medal-from-the-lions-clubs-international-president/"
						target="_blank"
						><div class="press">
							<img
								src="/diabetes-awareness-and-action/media/management/press-center/presidential-medal.jpg"
								alt="Gary Perala presenting the Lions Club International Presidential medal."
							/>
							<div>
								<h1>
									Negaunee man receives International
									Presidential Medal from the Lions Clubs
									International President
								</h1>
								<p>
									Upper Michigan Source | November 18th, 2020
								</p>
							</div>
						</div></a
					>
				</article>
				<article>
					<div class="press noLink">
						<iframe
							class="video"
							width="512"
							height="332"
							src="https://player.pbs.org/viralplayer/3048931151/"
							allowfullscreen
							allow="encrypted-media"
							style="border: 0;"></iframe>
					</div>
				</article>
				<article>
					<a
						href="https://www.wnmufm.org/arts-music-interviews/2020-11-03/interview-with-gary-perala-project-chairperson-for-district-10-lions-diabetes-awareness-and-action"
						target="_blank"
						><div class="press noImage">
							<div>
								<h1>
									Interview with Gary Perala, Project
									Chairperson for District 10 Lions "Defense
									Against Diabetes"
								</h1>
								<p>WNMU.FM | November 3rd, 2020</p>
							</div>
						</div></a
					>
				</article>
				<article>
					<a
						href="/diabetes-awareness-and-action/media/management/press-center/2020-10-27-national-kidney-foundation-press-release.pdf"
						target="_blank"
						><div class="press">
							<img
								src="/diabetes-awareness-and-action/media/management/press-center/2020-10-27-national-kidney-foundation-press-release.png"
								alt="First page of press release"
							/>
							<div>
								<h1>
									National Kidney Foundation/DAD Press Release
								</h1>
								<p>
									National Kidney Foundation | October 27th,
									2020
								</p>
							</div>
						</div></a
					>
				</article>
				<article>
					<a
						href="https://www.uppermichiganssource.com/content/news/Quick-online-test-helps-determine-risk-of-prediabetes-564500701.html"
						target="_blank"
						><div class="press noImage">
							<div>
								<h1>
									Quick online test helps determine risk of
									prediabetes
								</h1>
								<p>
									Upper Michigan Source | November 5th, 2019
								</p>
							</div>
						</div></a
					>
				</article>
				<article>
					<div class="press noLink">
						<iframe
							class="video"
							width="512"
							height="332"
							src="https://player.pbs.org/viralplayer/3046476600/"
							allowfullscreen
							allow="encrypted-media"
							style="border: 0;"></iframe>
					</div>
				</article>
				<article>
					<a
						href="/diabetes-awareness-and-action/media/management/press-center/dad-plaque.jpg"
						target="_blank"
						><div class="press noLink">
							<img
								src="/diabetes-awareness-and-action/media/management/press-center/dad-plaque.jpg"
								alt="Diabetes Awareness And Action plaque"
							/>
							<div>
								<h1>
									Diabetes Awareness And Action Plaque (Image)
								</h1>
								<p>
									It is with great pride that we wish to
									recognize Lions District 11E1 for their
									excellence in developing our Diabetes Pilot
									Program, "Diabetes Awareness And Action."
									Let it be know that District 11E1 were the
									Pioneers in Michigan in 2017 that forged
									this great program that makes the lives of
									people with diabetes with diabetes a little
									better to cope with in their daily suffering
									with this horrible disease. <span
										class="bold1">(READ MORE)</span
									>
								</p>
							</div>
						</div></a
					>
				</article>
			</article>
		</main>
		<div class="picturesInfoHide">
			<div><figure></figure><figure></figure></div>
			<hr />
		</div>

		<section>
			<header class="mainSectionHead">
				<hr class="testimonialHr" />
				<h1>TESTIMONIAL: U.S. SENATOR GARY PETERS</h1>
			</header>
			<main class="testimonial">
				<a
					href="/diabetes-awareness-and-action/media/testimonials/gpeters.pdf"
					target="_blank"
					><img
						class="testimonial"
						src="/diabetes-awareness-and-action/media/testimonials/gpeters.png"
						alt="Testimonial screenshot from U.S. Senator Gary Peters."
					/></a
				>
				<p>
					“I am acutely aware that more than 1,052,000 Michiganders
					suffer from Diabetes, and I appreciate the members of the
					Lions Clubs of District 11-E1 for advocating on behalf of
					these individuals and their families.”
				</p>
			</main>
		</section>
	</section>
</Layout>
